#title {
  background-color: #ff4c68;
  color: white;
}

#features {
  background-color: white;
  position: relative;
  z-index: 1;
}

.topcontainer {
  padding: 0 15% 17%;
}

.midcontainer {
  padding: 5% 0;
  margin: 0;
}

.header {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

.navbar {
  padding: 2.5rem 0 7rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 1rem;
}

.nav-link {
  font-size: 18px;
}

.dwnbtn {
  margin: 5% 3% 5% 0;
  font-family: 'Montserrat';
}

.title-image {
  margin-left: 10%;
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
}

.title-image-container {
  position: relative;
}

.col-md-4 {
  text-align: center;
  padding: 5% 8%;
}

.midheader {
  font-family: 'Montserrat';
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
}

.midicon {
  padding: 1rem 0;
  color: #ef8172;
}

.midrow {
  margin-right: 10rem;
  margin-left: 10rem;
}

.midicon:hover {
  color: #ff4c68;
}

#testimonials {
  background-color: #ef8172;
  padding: 7%;
  text-align: center;
  color: white;
}

.testimonial-text {
  font-size: 2.9rem;
  padding: 1rem 13rem 0;
  font-family: 'Montserrat';
}

.tstpic {
  width: 7%;
  margin: 3rem 1rem 3rem 3rem;
  border-radius: 100%;
}

#press {
  background-color: #ef8172;
  padding: 3rem 0 10rem;
  text-align: center;
}

.pressimg {
  width: 12%;
  margin: 0 2rem;
}

.pricebtn {
  width: 80%;
  margin-bottom: 1.5rem;
}

#pricing {
  padding: 150px;
  text-align: center;
}

.pricingh2main {
  font-family: 'Montserrat';
  font-size: 2.9rem;
}

.pricingh2 {
  font-family: 'Montserrat';
  font-size: 2rem;
  padding: 2%;
}

.p-pricing {
  font-size: 1.5rem;
  margin-bottom: 5rem;
}

.cardp {
  font-size: 1.1rem;
}

.pricingh3 {
  font-size: 2.5rem;
  font-family: 'Montserrat';
  padding: 2%;
}

#cta {
  background-color: #ff4c68;
  font-family: 'Montserrat';
  color: white;
  text-align: center;
}

.ctah3 {
  padding: 7% 0 4%;
  margin: 0 34rem;
  font-size: 3rem;
}

.nichewaalabtn {
  margin: 0 3% 7% 0;
}

#footer {
  background-color: #fff;
  text-align: center;
  margin: 5% 0;
}

.footerbtn {
  margin: 0 0.7rem 0.4rem;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
